Repository PublicApiGenerator/PublicApiGenerator, pull requests merged in 2025-01, with the labels that each got.

#413 Add net9.0 and net48 TFMs
  .github/workflows/cd-preview.yml
  .github/workflows/cd-release.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  src/PublicApiGeneratorTests/Assembly_attributes.cs
  src/PublicApiGeneratorTests/Method_order.cs
  src/PublicApiGeneratorTests/PublicApiGeneratorTests.csproj
  src/PublicApiGeneratorTests/SelfApiApprovalTests.cs
Labels: CI, tests

#414 Revert System.CodeDom to 8.0.0
  .gitignore
  src/Directory.Build.props
  src/PublicApiGenerator/PublicApiGenerator.csproj
  src/PublicApiGeneratorTests/Class_attributes.cs
  src/PublicApiGeneratorTests/HelperTypes.cs
Labels: dependencies, tests, bugfix

#342 Fix hiding of member with different return type
  src/PublicApiGenerator/CecilEx.CopyPasted.cs
  src/PublicApiGenerator/CecilEx.cs
  src/PublicApiGeneratorTests/Property_modifiers.cs
Labels: tests

#415 Tune project settings
  src/Directory.Build.props
  src/Directory.Build.targets
  src/PublicApiGenerator.Tool/PublicApiGenerator.Tool.csproj
  src/PublicApiGeneratorTests/NullableTests.cs
  src/PublicApiGeneratorTests/PublicApiGeneratorTests.csproj
Labels: tests

#416 Add test to show parameters splitting
  src/PublicApiGeneratorTests/Method_parameters.cs
Labels: tests

#412 Fix doubled braces in attributes
  src/PublicApiGenerator/PublicApiGenerator.csproj
  src/PublicApiGenerator/System.CodeDom/CSharpCodeGenerator.cs
Labels: tests, bugfix

#417 Option to split parameters across lines
  src/PublicApiGenerator/ApiGenerator.cs
  src/PublicApiGenerator/ApiGeneratorOptions.cs
  src/PublicApiGenerator/System.CodeDom/CSharpCodeGenerator.cs
  src/PublicApiGeneratorTests/Method_parameters.cs
  src/PublicApiGeneratorTests/PublicApiGenerator.approved.txt
Labels: enhancement, tests

#421 Bump System.CodeDom to 9.0.0
  src/PublicApiGenerator/PublicApiGenerator.csproj
  src/PublicApiGeneratorTests/Method_order.cs
Labels: dependencies, tests

#424 Handle readonly gracefully
  src/PublicApiGenerator/ApiGenerator.cs
  src/PublicApiGenerator/CodeNormalizer.cs
  src/PublicApiGenerator/CodeTypeDeclarationEx.cs
  src/PublicApiGenerator/CodeTypeDeclarationExtensions.cs
  src/PublicApiGenerator/System.CodeDom/CSharpCodeGenerator.cs
Labels: enhancement

#426 Handle modifiers for events gracefully
  src/PublicApiGenerator/ApiGenerator.cs
  src/PublicApiGenerator/CodeNormalizer.cs
  src/PublicApiGenerator/Declarations/CodeMemberEventEx.cs
  src/PublicApiGenerator/EventNameBuilder.cs
  src/PublicApiGenerator/System.CodeDom/CSharpCodeGenerator.cs
Labels: enhancement

#428 Handle init-only properties gracefully
  src/PublicApiGenerator/ApiGenerator.cs
  src/PublicApiGenerator/ApiGeneratorOptions.cs
  src/PublicApiGenerator/CodeNormalizer.cs
  src/PublicApiGenerator/System.CodeDom/CSharpCodeGenerator.cs
  src/PublicApiGeneratorTests/Method_order.cs
Labels: enhancement, tests

#429 Handle new lines gracefully
  src/PublicApiGenerator/CodeNormalizer.cs
  src/PublicApiGenerator/System.CodeDom/CSharpCodeGenerator.cs
  src/PublicApiGeneratorTests/Method_order.cs
Labels: enhancement, tests

#430 Handle more new lines gracefully
  src/PublicApiGenerator/CodeNormalizer.cs
  src/PublicApiGenerator/System.CodeDom/CSharpCodeGenerator.cs
  src/PublicApiGeneratorTests/Method_order.cs
Labels: enhancement, tests

#431 Handle even more new lines gracefully
  src/PublicApiGenerator/CodeNormalizer.cs
Labels: enhancement

#433 Handle the last new line gracefully
  src/PublicApiGenerator/ApiGenerator.cs
  src/PublicApiGenerator/CodeNormalizer.cs
  src/PublicApiGenerator/Declarations/CodeMemberEventEx.cs
  src/PublicApiGenerator/System.CodeDom/CSharpCodeGenerator.cs
Labels: enhancement

#434 Support property method modifiers
  src/PublicApiGenerator/CecilEx.cs
  src/PublicApiGenerator/System.CodeDom/CSharpCodeGenerator.cs
  src/PublicApiGeneratorTests/NullableTests.cs
  src/PublicApiGeneratorTests/Property_visibility.cs
Labels: enhancement, tests

#436 Add support for readonly ref struct
  src/PublicApiGenerator/ApiGenerator.cs
  src/PublicApiGenerator/AttributeFilter.RequiredAttributeNames.cs
  src/PublicApiGenerator/AttributeFilter.SkippedAttributeNames.cs
  src/PublicApiGenerator/AttributeFilter.cs
  src/PublicApiGenerator/CodeTypeDeclarationExtensions.cs
  src/PublicApiGenerator/Declarations/CodeTypeDeclarationEx.cs
  src/PublicApiGenerator/System.CodeDom/CSharpCodeGenerator.cs
  src/PublicApiGeneratorTests/Struct_readonly.cs
Labels: enhancement, tests

#435 Add support for dynamic keyword
  src/PublicApiGenerator/DynamicContext.cs
  src/PublicApiGenerator/System.CodeDom/CSharpCodeGenerator.cs
  src/PublicApiGeneratorTests/Delegate_types.cs
  src/PublicApiGeneratorTests/Dynamics.cs
Labels: enhancement

#445 Switch to ubuntu-22.04 from ubuntu-latest
  .github/workflows/ci.yml
  src/PublicApiGeneratorTests/Assembly_attributes.cs
  src/PublicApiGeneratorTests/PublicApiGeneratorTests.csproj
Labels: documentation

#444 Add ApiGeneratorOptions.TreatRecordsAsClasses
  src/PublicApiGenerator/ApiGenerator.cs
  src/PublicApiGenerator/ApiGeneratorOptions.cs
  src/PublicApiGenerator/CecilEx.cs
  src/PublicApiGenerator/CodeTypeDeclarationExtensions.cs
  src/PublicApiGenerator/Declarations/CodeTypeDeclarationEx.cs
  src/PublicApiGenerator/System.CodeDom/CSharpCodeGenerator.cs
  src/PublicApiGeneratorTests/Approval/PublicApiGenerator.approved.txt
  src/PublicApiGeneratorTests/Approval/SelfApiApprovalTests.cs
  src/PublicApiGeneratorTests/Record.cs
Labels: enhancement

#443 Downgrade System.CodeDom
  src/PublicApiGenerator/PublicApiGenerator.csproj
  src/PublicApiGeneratorTests/PublicApiGeneratorTests.csproj
Labels: dependencies

#447 Handle more special characters
  src/PublicApiGenerator/ApiGenerator.cs
  src/PublicApiGenerator/System.CodeDom/CSharpCodeGenerator.cs
  src/PublicApiGeneratorTests/Constants.cs
Labels: enhancement, tests

#446 Support native sized integers
  src/PublicApiGenerator/ApiGenerator.cs
  src/PublicApiGenerator/AttributeFilter.RequiredAttributeNames.cs
  src/PublicApiGenerator/CecilEx.cs
  src/PublicApiGenerator/System.CodeDom/CSharpCodeGenerator.cs
  src/PublicApiGeneratorTests/Delegate_types.cs
  src/PublicApiGeneratorTests/NativeIntegers.cs
Labels: enhancement, tests

#455 Fix StackOverflowException
  src/PublicApiGenerator/CecilEx.CopyPasted.cs
Labels: bugfix

#454 Add test for #455
  src/PublicApiGeneratorTests/CecilEx.AreSame.cs
Labels: tests
